<div class="m-4">
  <h1>Results</h1>

   <% if @result == 'valid' %>
    <p> <strong>Congratulations!</strong> <%=@answer.join%> is a valid english word! </p>
    <p><%=@score%> is your overall score! </p>
  <% elsif @result == 'invalid' %>
    <p> Sorry but <%=@answer.join%> doesn't seem to be an english word... </p>
    <p><%=@score%> is your overall score! </p>
  <% elsif @result == 'not in grid' %>
    <p> Sorry but <%=@answer.join%> can't be built out of <%=params[:array].split.join(', ')%> </p>
    <p><%=@score%> is your overall score! </p>
  <% end %>
  <br>
  <%= link_to "Play again", new_path(@answer.length) %>
</div>
